# All directories should end in / (information used by ide.gradle)
data/
tessdata/
src/test/out/
out/

# Ant
ant/

# Gradle
.gradle/
build/

# Maven
target/

# Eclipse
.classpath
.project
.settings/
bin/

# IDEA
*.iws
*.ipr
*.iml
.idea/
out/
